*.tmp
*.bak
*.swp
*~.nib
*.iml
*.ipr
*.iws
*.log
*.epoch
*.launch
.idea
.DS_Store
.ekstazi
.settings
.factorypath
.pmd
.metadata
.gradle
.loadpath
.project
.externalToolBuilders/
.cproject
.classpath
.factorypath
.buildpath
.target
.checkstyle
.texlipse

id_file
bin/
tmp/
/logs/
/target/
/target/*

dependency-reduced-pom.xml
local.properties